<div class="header" ng-controller="HeaderController">
    <div class="wrap clear">
        <div class="logo">
            <a ui-sref="home"><img src="build/images/logo.png" alt="" width="130" height="40" /></a>
        </div>

        <div class="select-city">
            <div class="current-city">
                <div class="field field-select">
                    <select-single list="cities"></select-single>
                </div>
            </div>
        </div>

        <div class="content-filters sorting">
            <a ng-class="{
                'icons active down': order === 'popularity' && reverse,
                'icons active up': order === 'popularity' && !reverse,
                'icons': order !== 'popularity'}"
               ng-click="sortList('popularity')">Популярность</a>

            <a ng-class="{
                'icons active down': order === 'bathhouse.distance' && reverse,
                'icons active up': order === 'bathhouse.distance' && !reverse,
                'icons': order !== 'bathhouse.distance'}"
               ng-click="sortList('bathhouse.distance')">Удаленность</a>

            <a ng-class="{
                'icons active down': order === 'price' && reverse,
                'icons active up': order === 'price' && !reverse,
                'icons': order !== 'price'}"
               ng-click="sortList('price')">Цена</a>

        </div>

        <div class="content-filters list-map">
            <a ng-class="{'item-list icons active': mode === 'list', 'item-list icons': mode === 'map'}"
               ng-click="toggleMode('list')">Список</a>

            <a ng-class="{'item-map icons active': mode === 'map', 'item-map icons': mode === 'list'}"
               ng-click="toggleMode('map')">Карта</a>
        </div>
    </div>
    <div class="header-filter" ng-click="openFilters()">Показать фильтр</div>
</div>