<div ng-class="{true: 'reviews opened', false: 'reviews'}[reviews.length > 0]">
    <div class="wrap">
        <scrollbar class="scroll" suppress-scroll-x="true">
            <div class="item" ng-repeat="review in reviews">
                <div class="review-top clear">
                    <div class="name">Василий Пупкин</div>
                    <div class="rate clear">
                        <a class="star icons active"></a>
                        <a class="star icons active"></a>
                        <a class="star icons active"></a>
                        <a class="star icons"></a>
                        <a class="star icons"></a>
                    </div>
                </div>
                <div class="review-bottom">
                    <p>{{review.text}}</p>
                </div>
            </div>
        </scrollbar>
    </div>
</div>