<form name="loginForm" class="login-form"
      method="post"
      ng-submit="login(credentials)"
      novalidate form-autofill-fix>

    <h1>Control.ordr.ru</h1>

    <input class="form-control no-border"
           type="text"
           placeholder="Логин"
           id="username"
           ng-model="credentials.username">

    <input class="form-control no-border"
           placeholder="Пароль"
           type="password"
           id="password"
           ng-model="credentials.password">

    <button>Войти</button>

</form>