<div ng-class="{true: 'body-overlay', false: ''}[overlay]">
    <div class="menu">
        <div class="logo">
            <picture>
                <source srcset="build/images/logo.webp" type="image/webp">
                <img srcset="build/images/logo.png" alt="" />
            </picture>
        </div>
        <div class="links">
            <a ng-click="openRecords();" ng-class="{true: 'item-history icons new', false: 'item-history icons'}[newRecords]">История</a>
            <a ng-click="openMessages();" ng-class="{true: 'item-noty icons new', false: 'item-noty icons'}[newMessages]">Сообщения</a>
        </div>
        <div class="user">
            <a href="#" class="username">{{::user.fullName}}</a>
            <a href="#" class="logout icons" ng-click="logout();"></a>
        </div>
    </div>
    {{::user.name}}
    <div class="main">
        <div class="content">
            <div class="title clear">
                <h1>{{::user.organizationName}}</h1>
            </div>

            <date-paginator></date-paginator>

            <div class="wrapper">
                <div class="room" ng-repeat="room in rooms track by room.id">
                    <div class="clear">
                        <h2>{{::room.name}}</h2>
                        <div class="help">
                            <span class="item-1 enabled">Доступное время</span>
                            <span class="item-2 disabled">Недоступное время</span>
                            <span class="item-3 reserved-manager">Создано администратором</span>
                            <span class="item-4 reserved-service">Создано пользователями</span>
                        </div>
                    </div>
                    <div class="wrap">

                        <schedule
                            room-id="room.id"
                            orders="room.orders"
                            new-order="newOrder"
                            min-duration="room.settings.minDuration"
                            current-date="currentDate"

                            show-order="showOrder(roomId, orderId, callback);"
                            create-order="createOrder(order, callback);"
                            update-order="updateOrder(order, callback);"
                            get-orders="getOrders(roomId, startDate, endDate);">
                        </schedule>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div ng-class="{true: 'history left-block active', false: 'history left-block'}[historyIsActive]">
        <h2>История <span class="icons close" ng-click="activateRecords = false;"></span></h2>
        <div class="content">
            <perfect-scrollbar class="scroll" refresh-on-change="records" wheel-propagation="true" suppress-scroll-x="true">
                <div class="item"
                     ng-repeat="record in records track by $index"
                     ng-click="showRecord($index);">
                    <h3 class="reserve">22.08.2015 Бронирование</h3>
                    <p>На Украине предложили лишать гражданства за посягательство на целостность Украины и государственную измену</p>
                </div>
            </perfect-scrollbar>
        </div>
    </div>

    <!--<div order-modal modal-data="modalData"></div>-->

    <div class="md-overlay" ng-show="overlay"></div>
</div>