<div class="md-title clear">
    <h2>Создание нового заказа</h2>
</div>
<!--<div class="messages done">
    <p>Done</p>
</div>
<div class="messages error">
    <p>Error</p>
</div>-->
<div class="form">
    <div class="field">
        <input type="text" readonly="readonly"
           value="{{order.startDate}} {{::order.startTime}} - {{::order.endDate}} {{::order.endTime}}"
        />
    </div>
    <div class="field">
        <select-services selectServices="selectServices(services);"></select-services>
    </div>
    <div class="field-comment">
        <textarea class="order-comment" ng-model="order.comment"></textarea>
    </div>
    <div class="result">
        <div class="result-text">
            <p>Итого: </p>
        </div>
        <div class="result-summ">
            <input type="text" readonly="readonly" ng-model="order.total" />
        </div>
    </div>
</div>
<div class="buttons clear">
    <a ng-click="cancelOrder()">Отмена</a>
    <a ng-click="saveOrder()">Сохранить</a>
</div>
