<div class="md-title clear">
    <h2>Данные заказа №{{::order.id}}</h2>
</div>
<!--<div class="messages done">
    <p>Done</p>
</div>
<div class="messages error">
    <p>Error</p>
</div>-->
<div class="form">
    <p>Время: {{::order.startDate | formatDate}} {{::order.startPeriod | formatTime}} - {{::order.endDate | formatDate}} {{::order.endPeriod | formatTime}}</p>
    <p>Количество чел-к: {{::order.guests}}</p>
    <p>Услуги: </p>
    <p>Комментарий: {{::order.comment}}</p>
    <p>Сумма за время: {{::order.costPeriod}}</p>
    <p>Сумма за услуги: {{::order.costServices}}</p>
    <p>Сумма за гостей: {{::order.costGuests}}</p>
    <p>Общая сумма: {{::order.total}}</p>
    <!--<div class="field">
        <input labeltext="Имя" />
    </div>
    <div class="field">
        <input labeltext="Email" />
    </div>
    <div class="field">
        <input labeltext="Телефон" />
    </div>-->
</div>
<div class="buttons clear">
    <a ng-click="closeThisDialog();">Закрыть</a>
    <a ng-click="removeOrder();">Удалить</a>

    <div class="dropdown">
        <button>Изменить</button>
        <ul class="dropdown-menu">
            <li><a ng-click="updateOrder('schedule');">Время</a></li>
            <li><a ng-click="updateOrder('other');">Другое</a></li>
        </ul>
    </div>
</div>
