<div class="sauna main" scroll-nav-page attach-scroll-panel>
    <div class="sauna-header">
        <div class="logo">
            <a href="#"><img src="/images/logo-3.png" alt="" width="130" height="40" /></a>
        </div>
        <div class="sauna-name">
            <h1>«{{::bathhouse.name}}»</h1>
            <p>{{::bathhouse.address}}</p>
        </div>
        <a ng-href="/bathhouses?" class="sauna-back icons">Обратно к списку</a>
    </div>
    <div class="sauna-slider">
        <div bathhouse-photo class="sauna-slider-wrap">
            <img ng-repeat="image in bathhouse.images" ng-src="{{image}}" />
            <!--<img src="/images/slider-1.jpg" alt="" />
            <img src="/images/slider-2.jpg" alt="" />
            <img src="/images/slider-3.jpg" alt="" />
            <img src="/images/slider-4.jpg" alt="" />-->
        </div>
        <div class="sauna-more" data-scroll-nav="0">
            <h2>от {{::bathhouse.min_price | currency:'руб':0}}</h2>
            <p>Подробнее</p>
        </div>
    </div>
    <div ng-class="{true: 'sauna-menu attached', false: 'sauna-menu'}[attached]">
        <div class="inner">
            <ul class="clear">
                <li class="icons item-1" data-scroll-nav="0">Описание</li>
                <li class="icons item-2" data-scroll-nav="1">Услуги</li>
                <li class="icons item-3" data-scroll-nav="2">Бронирование</li>
                <li class="icons item-4" data-scroll-nav="3">Отзывы</li>
                <li class="icons item-5" data-scroll-nav="4">Контакты</li>
            </ul>
        </div>
    </div>
    <div class="sauna-block" id="sauna-description" data-scroll-index="0">
        <h2>Описание</h2>
        <div class="inner clear">
            <div class="w45 formatted">
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis </p>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis </p>
            </div>
            <div class="w45 formatted">
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis </p>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis </p>
            </div>
        </div>
    </div>
    <div class="sauna-block" id="sauna-services" data-scroll-index="1">
        <h2>Услуги</h2>
        <div class="inner clear">
            <h3 class="icons item-internet">Интернет</h3>
            <h3 class="icons item-parking">Парковка</h3>
            <h3 class="icons item-bar">Бар</h3>
            <h3 class="icons item-kitchen">Кухня</h3>
            <h3 class="icons item-pool">Бассейн</h3>
            <h3 class="icons item-billiards">Бильярд</h3>
            <h3 class="icons item-jacuzzi">Джакузи</h3>
            <h3 class="icons item-smoking">Можно курить</h3>
            <h3 class="icons item-icehole">Прорубь</h3>
        </div>
    </div>
    <div class="sauna-block" id="sauna-booking" data-scroll-index="2">
        <h2>Бронирование</h2>
        <div class="inner">
            <div class="content">
                <div
                    class="item"
                    ng-repeat="room in bathhouse.rooms | orderBy : order : reverse track by room.id"
                    ng-if="room.show">

                    <div class="wrap">
                        <div class="preview">
                            <div class="preview-top clear">
                                <h2>{{::room.room_name}}</h2>
                                <div class="rate clear">
                                    <a class="star icons active"></a>
                                    <a class="star icons active"></a>
                                    <a class="star icons active"></a>
                                    <a class="star icons"></a>
                                    <a class="star icons"></a>
                                </div>
                                <p>{{::room.types}}</p>
                                <p class="icons address"><a ui-sref="bathhouses.detail({bathhouseId: room.bathhouse_id})">{{::room.bathhouse_name}}</a> {{::room.address}} </p>
                            </div>
                            <div class="preview-bottom clear">
                                <div class="photo">
                                    <div class="slider">
                                        <a href="tmp/2.jpg" class="lightbox"><img src="/images/1.jpg" alt="" width="234" height="140" /></a>
                                        <a href="tmp/3.jpg" class="lightbox"><img src="/images/1.jpg" alt="" width="234" height="140" /></a>
                                        <a href="tmp/4.jpg" class="lightbox"><img src="/images/1.jpg" alt="" width="234" height="140" /></a>
                                    </div>
                                </div>
                                <div class="more-info">
                                    <a href="#">
                                        <span>от {{::room.price}} руб</span>
                                        <span ng-click="showFullDescription(room.id)">
                                            {{room.active ? 'Скрыть' : 'Подробнее'}}
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div ng-class="{true: 'order active', false: 'order'}[room.active]" ng-if="room.active">
                            <div class="info clear">
                                <div class="description w50-left">
                                    <p>{{::room.description}}</p>
                                </div>
                                <div class="services w50-right clear">

                                    <div
                                            class="icons item-{{option}}"
                                            ng-repeat="option in room.options">

                                        {{::option | rusify}}

                                    </div>

                                </div>
                            </div>
                            <div class="booking">
                                <div class="wrap">
                                    <div class="step-1 clear">
                                        <div class="wrap clear">
                                            <div class="w50-left">
                                                <div class="wrap">
                                                    <div class="field field-input field-date">
                                                        <input type="text" id="order-datetime-field" placeholder="Выберите время"/>
                                                    </div>
                                                    <div class="field field-select">
                                                        <select-services
                                                                list="room.services">
                                                        </select-services>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="w50-right">
                                                <div class="wrap clear">

                                                    <people
                                                            free="people.limitFree"
                                                            total="people.limitTotal"
                                                            price="people.price">
                                                    </people>
                                                    <div class="next-step">
                                                        <a href="#">
                                                            <span class="total-cost">0 руб</span>
                                                            <span>Заказать</span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <timecalendar schedule="room.schedule" type="bathhhouse"></timecalendar>
                                    <div class="step-2">
                                        <div class="wrap clear">
                                            <div class="w50-left">
                                                <div class="wrap">
                                                    <p>27.08 c 13:00 до 15:00 и 28.08 c 13:00 до 15:00</p>
                                                    <table cellspacing="0" cellpadding="0">
                                                        <tbody>
                                                        <tr>
                                                            <td>Сауна х 4 часа</td>
                                                            <td>1600 рублей</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Сауна х 4 часа</td>
                                                            <td>1600 рублей</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Сауна х 4 часа</td>
                                                            <td>1600 рублей</td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                            <div class="w50-right">
                                                <div class="wrap clear">
                                                    <p>Для подтверждения заказа введите номер телефона</p>
                                                    <div class="form clear">
                                                        <div class="field field-input">
                                                            <input type="text" placeholder="+7" />
                                                        </div>
                                                        <div class="buttons">
                                                            <button>Отправить</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sauna-block" id="sauna-testimonials" data-scroll-index="3">
        <h2>Отзывы</h2>
        <div class="inner">
            <div class="item">
                <div class="date">27 мая 2014 года</div>
                <h3>Василий Пупкин</h3>
                <div class="rate clear">
                    <a class="star icons active"></a>
                    <a class="star icons active"></a>
                    <a class="star icons active"></a>
                    <a class="star icons"></a>
                    <a class="star icons"></a>
                </div>
                <div class="text formatted">
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis </p>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis </p>
                </div>
            </div>
            <div class="item">
                <div class="date">27 мая 2014 года</div>
                <h3>Василий Пупкин</h3>
                <div class="rate clear">
                    <a class="star icons active"></a>
                    <a class="star icons active"></a>
                    <a class="star icons active"></a>
                    <a class="star icons"></a>
                    <a class="star icons"></a>
                </div>
                <div class="text formatted">
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis </p>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis </p>
                </div>
            </div>
            <div class="item">
                <div class="date">27 мая 2014 года</div>
                <h3>Василий Пупкин</h3>
                <div class="rate clear">
                    <a class="star icons active"></a>
                    <a class="star icons active"></a>
                    <a class="star icons active"></a>
                    <a class="star icons"></a>
                    <a class="star icons"></a>
                </div>
                <div class="text formatted">
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis </p>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis </p>
                </div>
            </div>
        </div>
    </div>
    <div class="sauna-block" id="sauna-comment">
        <h2>Оставить отзыв</h2>
        <div class="inner">
            <div class="clear">
                <div class="field field-input">
                    <input type="text" placeholder="Имя" />
                </div>
                <div class="field field-select">
                    <select>
                        <option selected="selected">Рейтинг</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </div>
                <div class="field field-textarea">
                    <textarea placeholder="Отзыв"></textarea>
                </div>
                <div class="buttons">
                    <a href="#">Отправить</a>
                </div>
            </div>
        </div>
    </div>
    <div class="sauna-block" id="sauna-contacts" data-scroll-index="4">
        <h2>Контакты</h2>
        <div class="inner">
            <div class="phones">
                <span>8-904-802-29-22</span>
                <span>8-904-802-29-22</span>
                <span>8-904-802-29-22</span>
                <span>8-904-802-29-22</span>
            </div>
            <div class="address">г. Магнитогорск, ул. Малиновая, 16</div>
            <div class="sauna-map">
                <iframe width='100%' height='350' frameBorder='0' src='https://a.tiles.mapbox.com/v4/websapiens.jkn04pi5/attribution,zoompan,geocoder.html?access_token=pk.eyJ1Ijoid2Vic2FwaWVucyIsImEiOiJ4WkVIc1drIn0.Lifzv1hXQ6Mi74fDcj7HLg'></iframe>
            </div>
        </div>
    </div>
    <div class="sauna-block">
        <h2>Юридическая информация</h2>
        <div class="inner clear">
            <div class="w45 formatted">
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis </p>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis </p>
            </div>
            <div class="w45 formatted">
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis </p>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis </p>
            </div>
        </div>
    </div>
    <div class="front-block footer">
        <div class="inner">
            <div class="clear">
                <div class="item item-left">
                    <a href="#"><img src="/images/logo-2.png" alt="" width="130" height="40" /></a>
                </div>
                <div class="item item-right">
                    <ul>
                        <li><a href="#">Пригласить друзей</a></li>
                        <li><a href="#">Мобильная версия</a></li>
                        <li><a href="#">Карта сайта</a></li>
                    </ul>
                </div>
                <div class="item item-right">
                    <ul>
                        <li><a href="#">Мы в Вконтакте</a></li>
                        <li><a href="#">Мы в Фейсбуке</a></li>
                        <li><a href="#">Мы в Гугл+</a></li>
                    </ul>
                </div>
                <div class="item item-right">
                    <ul>
                        <li><a href="#">О проекте</a></li>
                        <li><a href="#">Правила</a></li>
                        <li><a href="#">Вопросы и ответы</a></li>
                        <li><a href="#">Конфиденциальность</a></li>
                    </ul>
                </div>
            </div>
            <div class="copy">
                © 2012—2014 «Ordr.ru». Дизайн и верстка — <a href="#">Websapiens</a>.
            </div>
        </div>
    </div>
</div><!--
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/jquery.owl.carousel.js"></script>
<script src="assets/js/jquery.scrollIt.js"></script>
<script src="assets/js/jquery.sumoselect.js"></script>
<script src="assets/js/jquery.imagelightbox.js"></script>
<script src="assets/js/jquery.perfectscrollbar.js"></script>-->
<!--
<script type="application/javascript">
    function getClientHeight() {return jQuery(window).height();}
    function getClientWidth() {return jQuery(window).width();}

    var h = getClientHeight();
    var w = getClientWidth();

    $(document).ready(function() {
        $('.sauna-slider-wrap').owlCarousel({
            loop:true,
            margin:0,
            nav:false,
            items: 1,
            autoplay: true,
            autoplayTimeout: 5000,
            autoplayHoverPause: true,
            autoplaySpeed: 500,
            responsive:{
                1000:{
                    stagePadding: (w - 1024) / 2
                }
            }
        });

        $.scrollIt();

        $(window).scroll(function() {
            if ($(this).scrollTop() >= 690) {
                $('.sauna-menu, .sauna-header').addClass('attached');
            }
            else {
                $('.sauna-menu, .sauna-header').removeClass('attached');
            }
        });

        //Select
        $('select').SumoSelect({
            captionFormat:'{0} выбрано',
            placeholder: 'Дополнительные услуги',
            nativeOnDevice: false
        });

        //Slider
        $('.photo .slider').owlCarousel({
            loop:true,
            responsiveClass:true,
            nav:false,
            responsive:{
                0:{
                    items:1
                },
                600:{
                    items:2
                },
                1000:{
                    items:3
                }
            }
        });

        //Lightbox
        var activityIndicatorOn = function()
                {
                    $( '<div id="imagelightbox-loading"><div class="loading"><div class="double-bounce1"></div><div class="double-bounce2"></div></div></div>' ).appendTo( 'body' );
                },
                activityIndicatorOff = function()
                {
                    $( '#imagelightbox-loading' ).remove();
                },

                overlayOn = function()
                {
                    $( '<div id="imagelightbox-overlay"></div>' ).appendTo( 'body' );
                },
                overlayOff = function()
                {
                    $( '#imagelightbox-overlay' ).remove();
                },

                closeButtonOn = function( instance )
                {
                    $( '<button type="button" id="imagelightbox-close" title="Close"></button>' ).appendTo( 'body' ).on( 'click touchend', function(){ $( this ).remove(); instance.quitImageLightbox(); return false; });
                },
                closeButtonOff = function()
                {
                    $( '#imagelightbox-close' ).remove();
                };

        // Custom scroll
        if ($('body').width() > 1024)
        {
            $('.scroll').perfectScrollbar({
                suppressScrollX: true
            });
        }

        // Show booking
        $('#item-1 .more-info a').click(function() {
            $(this).toggleClass("active");
            $('.order').toggleClass("active");
            $('.reviews').toggleClass("opened");
            return false;
        });

        $('#item-1 .next-step a').click(function() {
            $('.time-calendar').removeClass("active");
            $('.step-2').addClass("active");
            $('.step-1').addClass("hide");
            return false;
        });

        // Show hide calendar
        $('.step-1 .field-date input').focusin(function() {
            $('.time-calendar').addClass("active");
            return false;
        });

    });

</script>-->
