<div class="map">

    <leaflet
        defaults="map.defaults"
        layers="map.layers"
        markers="map.markers"
        center="map.center"
        event-broadcast="events">
    </leaflet>

    <div class="content" ng-if="showRoom">
        <div class="item">
            <div class="wrap">
                <div class="preview">
                    <div class="preview-top clear">
                        <h2 class="type type-{{room.type_id}}">{{room.room_name}}</h2>
                        <div class="rate clear">
                            <a class="star icons active"></a>
                            <a class="star icons active"></a>
                            <a class="star icons active"></a>
                            <a class="star icons"></a>
                            <a class="star icons"></a>
                        </div>
                        <a ng-click="closeRoom()" class="close"></a>
                        <p class="icons address"><a href="#">{{::room.bathhouse_name}}</a> {{::room.address}} </p>
                    </div>
                    <div class="preview-bottom clear">
                        <div class="photo">
                            <a href="tmp/2.jpg" class="lightbox"><img src="/images/1.jpg" alt="" width="234" height="140" /></a>
                            <a href="tmp/3.jpg" class="lightbox"><img src="/images/1.jpg" alt="" width="234" height="140" /></a>
                            <a href="tmp/4.jpg" class="lightbox"><img src="/images/1.jpg" alt="" width="234" height="140" /></a>
                        </div>
                        <div class="more-info">
                            <a>
                                <span>от {{room.price}} руб</span>
                            <span ng-click="room.active = !room.active">
                                {{room.active ? 'Скрыть' : 'Подробнее'}}
                            </span>
                            </a>
                        </div>
                    </div>
                </div>
                <div ng-class="{true: 'order active', false: 'order'}[room.active]" ng-if="room.active">
                    <div class="info clear">
                        <div class="description w50-left">
                            <p>{{::room.description}}</p>
                        </div>
                        <div class="services w50-right clear">

                            <div
                                    class="icons item-{{option}}"
                                    ng-repeat="option in room.options">

                                {{option | rusify}}

                            </div>

                        </div>
                    </div>
                    <div class="booking">
                        <div class="wrap">
                            <div class="step-1 clear">
                                <div class="wrap clear">
                                    <div class="w50-left">
                                        <div class="wrap">
                                            <div class="field field-input field-date">
                                                <input type="text" id="order-datetime-field" placeholder="Выберите время"/>
                                            </div>
                                            <div class="field field-select">
                                                <select-services
                                                        list="room.services">
                                                </select-services>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="w50-right">
                                        <div class="wrap clear">

                                            <div class="select-people">
                                                <p>Количество гостей</p>
                                                <div class="field field-select-people">

                                                    <select-people
                                                            limit="room.guests.guest_limit"
                                                            threshold="room.guests.guest_threshold"
                                                            price="room.guests.extra_guest_price">
                                                    </select-people>

                                                </div>

                                            </div>
                                            <div class="next-step">
                                                <a href="#">
                                                    <span class="total-cost">0 руб</span>
                                                    <span>Заказать</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <timecalendar schedule="room.schedule" type="bathhhouse"></timecalendar>

                            <div class="step-2">
                                <div class="wrap clear">
                                    <div class="w50-left">
                                        <div class="wrap">
                                            <p>27.08 c 13:00 до 15:00 и 28.08 c 13:00 до 15:00</p>
                                            <table cellspacing="0" cellpadding="0">
                                                <tbody>
                                                <tr>
                                                    <td>Сауна х 4 часа</td>
                                                    <td>1600 рублей</td>
                                                </tr>
                                                <tr>
                                                    <td>Сауна х 4 часа</td>
                                                    <td>1600 рублей</td>
                                                </tr>
                                                <tr>
                                                    <td>Сауна х 4 часа</td>
                                                    <td>1600 рублей</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="w50-right">
                                        <div class="wrap clear">
                                            <p>Для подтверждения заказа введите номер телефона</p>
                                            <div class="form clear">
                                                <div class="field field-input">
                                                    <input type="text" placeholder="+7" />
                                                </div>
                                                <div class="buttons">
                                                    <button>Отправить</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>