/*
 *  schedule Carousel - Animate Plugin
 */
.schedule-carousel .animated {
  -webkit-animation-duration: 1000ms;
          animation-duration: 1000ms;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
.schedule-carousel .schedule-animated-in {
  z-index: 0;
}
.schedule-carousel .schedule-animated-out {
  z-index: 1;
}
.schedule-carousel .fadeOut {
  -webkit-animation-name: fadeOut;
          animation-name: fadeOut;
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

/*
 * 	schedule Carousel - Auto Height Plugin
 */
.schedule-height {
  -webkit-transition: height 500ms ease-in-out;
     -moz-transition: height 500ms ease-in-out;
      -ms-transition: height 500ms ease-in-out;
       -o-transition: height 500ms ease-in-out;
          transition: height 500ms ease-in-out;
}

/*
 *  Core schedule Carousel CSS File
 */
.schedule-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.schedule-carousel .order-stage {
  position: relative;
  height: 42px;
  -ms-touch-action: pan-Y;
}
.schedule-carousel .order-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.schedule-carousel .schedule-stage-outer {
  position: relative;
  overflow: hidden;
  height: 87px;
  /* fix for flashing background */
  -webkit-transform: translate3d(0px, 0px, 0px);
}
.schedule-carousel.schedule-loaded {
  display: block;
}
.schedule-carousel.schedule-loading {
  opacity: 0;
  display: block;
}
.schedule-carousel.schedule-hidden {
  opacity: 0;
}
.schedule-carousel .schedule-refresh .schedule-item {
  display: none;
}
.schedule-carousel .schedule-item {
  position: relative;
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.schedule-carousel .schedule-item img {
  display: block;
  width: 100%;
  -webkit-transform-style: preserve-3d;
}
.schedule-carousel.schedule-text-select-on .schedule-item {
  -webkit-user-select: auto;
     -moz-user-select: auto;
      -ms-user-select: auto;
          user-select: auto;
}
.schedule-carousel .schedule-grab {
  cursor: move;
  cursor: -webkit-grab;
  cursor:      -o-grab;
  cursor:     -ms-grab;
  cursor:         grab;
}
.schedule-carousel.schedule-rtl {
  direction: rtl;
}
.schedule-carousel.schedule-rtl .schedule-item {
  float: right;
}

/* No Js */
.no-js .schedule-carousel {
  display: block;
}

/*
 * 	schedule Carousel - Lazy Load Plugin
 */
.schedule-carousel .schedule-item .schedule-lazy {
  opacity: 0;
  -webkit-transition: opacity 400ms ease;
     -moz-transition: opacity 400ms ease;
      -ms-transition: opacity 400ms ease;
       -o-transition: opacity 400ms ease;
          transition: opacity 400ms ease;
}
.schedule-carousel .schedule-item img {
  transform-style: preserve-3d;
}