SetEnvIf Origin "http(s)?://(www\.)?(api.ordr.ru|ordr.ru)$" AccessControlAllowOrigin=$0$1
Header add Access-Control-Allow-Origin %{AccessControlAllowOrigin}e env=AccessControlAllowOrigin

AddDefaultCharset UTF-8

Options +FollowSymLinks

IndexIgnore */*
RewriteEngine on

# если директория или файл существуют, используем их
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# в противном случае перенаправляем запрос через index.php
RewriteRule . index.php